html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: $mainFont;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.42;
  background-color: $white;
  color: $text;
  overflow-x: hidden;

  @include adpt ($bmob-r) {
    font-size: 12px;
    line-height: 1.58;
  }
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 20px;
}

.text {
  color: $text;
  font-size: 16px;
  line-height: 1.25;

  @include adpt ($bmob-r) {
    font-size: 14px;
    line-height: 1.42;
  }
}

.sr-only {
  position: absolute;
  width: 0px;
  height: 0px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.logo {
  max-width: 189px;
  width: 100%;

  &__img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
}