html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: $mainFont;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.42;
  background-color: $white;
  color: $text;
  overflow-x: hidden;

  @include adpt ($bmob-r) {
    font-size: 12px;
    line-height: 1.58;
  }
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 20px;
}

.text {
  color: $text;
  font-size: 16px;
  line-height: 1.25;

  @include adpt ($bmob-r) {
    font-size: 14px;
    line-height: 1.42;
  }
}

.sr-only {
  position: absolute;
  width: 0px;
  height: 0px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.logo {
  max-width: 189px;
  width: 100%;

  &__img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
}

.wave {
  background: rgba(255, 255, 255, .4);
  border-radius: 50%;
  transform: scale(0);
  animation: wave 0.7s linear;
  pointer-events: none;
  position: absolute;
}


._shadow {
  position: relative;

  &::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    opacity: 0.3;
    z-index: 9;
    pointer-events: none;
  }
}

@keyframes wave {
  100% {
    transform: scale(2);
    opacity: 0;
  }
}