.catalog {
  padding: 105px 0 65px;
  background-color: $bg;
  border-bottom: 1px solid $grey;
  border-top: 1px solid $grey;
}

.catalog-title {
  padding: 20px 0 30px;

  @include adpt ($bmob-r) {
    padding: 0;
    margin-bottom: 30px;
  }
}