.page-form {
  margin: 10px 0 75px;
  display: flex;
  justify-content: center;

  &__inner {
    position: relative;
    max-width: 560px;
    border-radius: 15px;
    color: $white;
    border: 1px solid $grey;
    background-color: $red;
    box-shadow: 0px 0px 52px 2px rgba(51, 51, 51, 0.21);
    padding: 50px 50px 0;

    @include adpt ($tab-r) {
      padding: 50px 25px 0;
    }

    @include adpt ($bmob-r) {
      padding: 50px 20px 0;
    }

    &::before {
      content: "";
      position: absolute;
      top: -40px;
      left: 50%;
      transform: translateX(-50%);
      width: 80px;
      height: 80px;
      background-color: $white;
      border-radius: 50%;
      box-shadow: 0px 0px 36px rgba(51, 51, 51, 0.11);
      background-image: url('../images/categories/1.svg');
      background-size: 30px 37px;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &__title {
    text-align: center;
    color: $white;
    margin-bottom: 40px;

    @include adpt ($bmob-r) {
      margin-bottom: 35px;
      font-size: 24px;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 35px;
    margin-bottom: 10px;

    @include adpt ($bmob-r) {
      grid-gap: 20px;
      margin-bottom: 5px;
    }
  }

  &__row {
    display: flex;
    justify-content: space-between;

    @include adpt ($bmob-r) {
      flex-direction: column;
    }
  }

  &__item {
    flex: 1;

    &:not(:last-child) {
      margin-right: 39px;

      @include adpt ($tab-r) {
        margin-right: 20px;
      }

      @include adpt ($bmob-r) {
        margin-right: 0;
        margin-bottom: 20px;
      }
    }
  }

  &__label {
    display: block;
    color: $white;

    @include adpt ($bmob-r) {
      margin-bottom: 5px;
    }
  }

  &__input {
    padding: 10px 10px 9px;
    border-radius: 6px;
    border: 1px solid #E9E6E7;
    background-color: $white;
    outline: none;
    color: $headers;
    width: 100%;
    max-width: 100%;

    &._textarea {
      resize: vertical;
      min-height: 70px;
    }
  }

  & .popup__check-label::before {
    border: 1px solid rgba(255, 255, 255, 0.5);
  }

  & .popup__check-label::after {
    background-image: url('../images/icon/check-politicy2.svg');
  }

  &__btn {
    background-color: $yellow;
    position: absolute;
    width: calc(100% - 100px);
    font-family: $secondFont;
    font-size: 16px;
    line-height: 1.25;
    border-radius: 6px;
    font-weight: 500;
    bottom: -25px;
    left: 50px;
    padding: 15px;

    @include adpt ($tab-r) {
      width: calc(100% - 50px);
      left: 25px;
    }

    @include adpt ($bmob-r) {
      left: 20px;
      width: calc(100% - 40px);
    }
  }
}