.reviews-page {
  padding: 30px 0 65px;
  background-color: $bg;

  &__item {
    & .reviews__slide {
      border-radius: 6px;

      @include adpt ($bmob-r) {
        padding: 30px 20px;
      }
    }

    & .reviews__top {
      @include adpt ($bmob-r) {
        align-items: flex-start;
      }
    }

    &:not(:last-child) {
      margin-bottom: 20px;

      @include adpt ($bmob-r) {
        margin-bottom: 10px;
      }
    }
  }
}