<section class="contacts">
  <div class="container">
    <div class="contacts__title title">
      Контакты складов самовывоза
    </div>
    <div class="contacts__inner">
      <div class="contacts__list-wrap-wrap">
        <div class="contacts__arrow slider-arrow contacts__arrow_prev">
          <svg class="contacts__arrow-icon" width="8" height="15" viewBox="0 0 8 15" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path d="M7 1L1 7.74074L7 14" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" />
          </svg>
        </div>
        <div class="contacts__arrow contacts__arrow_next slider-arrow slider-arrow_next">
          <svg class="contacts__arrow-icon" width="8" height="15" viewBox="0 0 8 15" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path d="M7 1L1 7.74074L7 14" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" />
          </svg>
        </div>
        <div class="contacts__list-wrap">
          <ul class="contacts__list ">
            <li class="contacts__slide-wrap">
              <div class="contacts__slide">
                <svg class="contacts__slide-arw" width="26" height="10" viewBox="0 0 26 10" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <path d="M18.4545 5.66667H1V4.33333H18.4545V1L25 5L18.4545 9V5.66667Z" fill="#EA9309" />
                  <path d="M18.4545 4.33333V1L25 5L18.4545 9V4.33333ZM18.4545 4.33333V5.66667H1V4.33333H18.4545Z"
                    stroke="#EA9309" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <button class="contacts__top js-contact-btn _start" type="button" data-coordinates="[55.698112, 37.708410]"
                  data-text="ГазЗаЧас - склад" data-bullun="г. Москва 2-й Южнопортовый проезд, 10с19">
                  <div class="contacts__subtitle">
                    г. Москва 2-й Южнопортовый проезд, 10с19
                  </div>
                  <a class="contacts__tel text" href="tel:+79099988020">
                    +7 (916) 005-52-21
                  </a>
                </button>
                <div class="contacts__bottom-wrap">
                  <div class="contacts__bottom">

                    <ul class="contacts__list-numbers">
                      <li class="contacts__item-numbers">
                        <a class="contacts__tel text" href="tel:+79160055221">
                          +7 (916) 005-52-21
                        </a>
                      </li>
                      <li class="contacts__item-numbers">
                        <a class="contacts__tel text" href="tel:+79160055221">
                          +7 (916) 005-52-21
                        </a>
                      </li>
                    </ul>
                    <div class="contacts__mail text">
                      <span>Е-mail: </span><a href="mailto:">msk@gazzachas.ru</a>
                    </div>
                    <div class="contacts__discr text">
                      <p>
                        Въезд на территорию склада платный. Пропуск можно заказать на месте
                      </p>
                      <p>
                        Время работы склада: 10:00 - 19:00
                      </p>
                    </div>

                    <a class="contacts__mapping text" target="_blank"
                      href="https://yandex.ru/maps/?rtext=~55.698112, 37.708410">
                      Проложить маршрут
                    </a>
                  </div>
                </div>

              </div>
            </li>
            <li class="contacts__slide-wrap">
              <div class="contacts__slide">
                <svg class="contacts__slide-arw" width="26" height="10" viewBox="0 0 26 10" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <path d="M18.4545 5.66667H1V4.33333H18.4545V1L25 5L18.4545 9V5.66667Z" fill="#EA9309" />
                  <path d="M18.4545 4.33333V1L25 5L18.4545 9V4.33333ZM18.4545 4.33333V5.66667H1V4.33333H18.4545Z"
                    stroke="#EA9309" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <button class="contacts__top js-contact-btn" type="button" data-coordinates="[55.909665, 37.423249]"
                  data-text="ГазЗаЧас - склад" data-bullun="г. Химки Коммунальный проезд, 12/2">
                  <div class="contacts__subtitle">
                    г. Химки Коммунальный проезд, 12/2
                  </div>
                  <a class="contacts__tel text" href="tel:+79099988020">
                    +7(909) 998-80-20
                  </a>
                </button>
                <div class="contacts__bottom-wrap">
                  <div class="contacts__bottom">

                    <ul class="contacts__list-numbers">
                      <li class="contacts__item-numbers">
                        <a class="contacts__tel text" href="tel:+79160055221">
                          +7 (916) 005-52-21
                        </a>
                      </li>
                      <li class="contacts__item-numbers">
                        <a class="contacts__tel text" href="tel:+79160055221">
                          +7 (916) 005-52-21
                        </a>
                      </li>
                    </ul>
                    <div class="contacts__mail text">
                      <span>Е-mail: </span><a href="mailto:">msk@gazzachas.ru</a>
                    </div>
                    <div class="contacts__discr text">
                      <p>
                        Въезд на территорию склада платный. Пропуск можно заказать на месте
                      </p>
                      <p>
                        Время работы склада: 10:00 - 19:00
                      </p>
                    </div>
                    <a class="contacts__mapping text" target="_blank"
                      href="https://yandex.ru/maps/?rtext=~55.909665, 37.423249">
                      Проложить маршрут
                    </a>
                  </div>
                </div>

              </div>
            </li>
            <li class="contacts__slide-wrap">
              <div class="contacts__slide">
                <svg class="contacts__slide-arw" width="26" height="10" viewBox="0 0 26 10" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <path d="M18.4545 5.66667H1V4.33333H18.4545V1L25 5L18.4545 9V5.66667Z" fill="#EA9309" />
                  <path d="M18.4545 4.33333V1L25 5L18.4545 9V4.33333ZM18.4545 4.33333V5.66667H1V4.33333H18.4545Z"
                    stroke="#EA9309" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <button class="contacts__top js-contact-btn" type="button" data-coordinates="[56.330196, 36.697383]"
                  data-text="ГазЗаЧас - склад" data-bullun="г. Клин Высоковская ул., 26">
                  <div class="contacts__subtitle">
                    г. Клин Высоковская ул., 26
                  </div>
                  <a class="contacts__tel text" href="tel:+79099988020">
                    +7(909) 998-80-20
                  </a>
                </button>
                <div class="contacts__bottom-wrap">
                  <div class="contacts__bottom">

                    <ul class="contacts__list-numbers">
                      <li class="contacts__item-numbers">
                        <a class="contacts__tel text" href="tel:+79160055221">
                          +7 (916) 005-52-21
                        </a>
                      </li>
                      <li class="contacts__item-numbers">
                        <a class="contacts__tel text" href="tel:+79160055221">
                          +7 (916) 005-52-21
                        </a>
                      </li>
                    </ul>
                    <div class="contacts__mail text">
                      <span>Е-mail: </span><a href="mailto:">msk@gazzachas.ru</a>
                    </div>
                    <div class="contacts__discr text">
                      <p>
                        Въезд на территорию склада платный. Пропуск можно заказать на месте
                      </p>
                      <p>
                        Время работы склада: 10:00 - 19:00
                      </p>
                    </div>
                    <a class="contacts__mapping text" target="_blank"
                      href="https://yandex.ru/maps/?rtext=~56.330196, 36.697383">
                      Проложить маршрут
                    </a>
                  </div>
                </div>

              </div>
            </li>
            <li class="contacts__slide-wrap">
              <div class="contacts__slide">
                <svg class="contacts__slide-arw" width="26" height="10" viewBox="0 0 26 10" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <path d="M18.4545 5.66667H1V4.33333H18.4545V1L25 5L18.4545 9V5.66667Z" fill="#EA9309" />
                  <path d="M18.4545 4.33333V1L25 5L18.4545 9V4.33333ZM18.4545 4.33333V5.66667H1V4.33333H18.4545Z"
                    stroke="#EA9309" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <button class="contacts__top js-contact-btn" type="button" data-coordinates="[55.698112, 37.708410]"
                  data-text="ГазЗаЧас - склад" data-bullun="г. Москва 2-й Южнопортовый проезд, 10с19">
                  <div class="contacts__subtitle">
                    г. Москва 2-й Южнопортовый проезд, 10с19
                  </div>
                  <a class="contacts__tel text" href="tel:+79099988020">
                    +7 (916) 005-52-21
                  </a>
                </button>
                <div class="contacts__bottom-wrap">
                  <div class="contacts__bottom">

                    <ul class="contacts__list-numbers">
                      <li class="contacts__item-numbers">
                        <a class="contacts__tel text" href="tel:+79160055221">
                          +7 (916) 005-52-21
                        </a>
                      </li>
                      <li class="contacts__item-numbers">
                        <a class="contacts__tel text" href="tel:+79160055221">
                          +7 (916) 005-52-21
                        </a>
                      </li>
                    </ul>
                    <div class="contacts__mail text">
                      <span>Е-mail: </span><a href="mailto:">msk@gazzachas.ru</a>
                    </div>
                    <div class="contacts__discr text">
                      <p>
                        Въезд на территорию склада платный. Пропуск можно заказать на месте
                      </p>
                      <p>
                        Время работы склада: 10:00 - 19:00
                      </p>
                    </div>

                    <a class="contacts__mapping text" target="_blank"
                      href="https://yandex.ru/maps/?rtext=~55.698112, 37.708410">
                      Проложить маршрут
                    </a>
                  </div>
                </div>

              </div>
            </li>
            <li class="contacts__slide-wrap">
              <div class="contacts__slide">
                <svg class="contacts__slide-arw" width="26" height="10" viewBox="0 0 26 10" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <path d="M18.4545 5.66667H1V4.33333H18.4545V1L25 5L18.4545 9V5.66667Z" fill="#EA9309" />
                  <path d="M18.4545 4.33333V1L25 5L18.4545 9V4.33333ZM18.4545 4.33333V5.66667H1V4.33333H18.4545Z"
                    stroke="#EA9309" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <button class="contacts__top js-contact-btn" type="button" data-coordinates="[55.909665, 37.423249]"
                  data-text="ГазЗаЧас - склад" data-bullun="г. Химки Коммунальный проезд, 12/2">
                  <div class="contacts__subtitle">
                    г. Химки Коммунальный проезд, 12/2
                  </div>
                  <a class="contacts__tel text" href="tel:+79099988020">
                    +7(909) 998-80-20
                  </a>
                </button>
                <div class="contacts__bottom-wrap">
                  <div class="contacts__bottom">

                    <ul class="contacts__list-numbers">
                      <li class="contacts__item-numbers">
                        <a class="contacts__tel text" href="tel:+79160055221">
                          +7 (916) 005-52-21
                        </a>
                      </li>
                      <li class="contacts__item-numbers">
                        <a class="contacts__tel text" href="tel:+79160055221">
                          +7 (916) 005-52-21
                        </a>
                      </li>
                    </ul>
                    <div class="contacts__mail text">
                      <span>Е-mail: </span><a href="mailto:">msk@gazzachas.ru</a>
                    </div>
                    <div class="contacts__discr text">
                      <p>
                        Въезд на территорию склада платный. Пропуск можно заказать на месте
                      </p>
                      <p>
                        Время работы склада: 10:00 - 19:00
                      </p>
                    </div>
                    <a class="contacts__mapping text" target="_blank"
                      href="https://yandex.ru/maps/?rtext=~55.909665, 37.423249">
                      Проложить маршрут
                    </a>
                  </div>
                </div>

              </div>
            </li>
            <li class="contacts__slide-wrap">
              <div class="contacts__slide">
                <svg class="contacts__slide-arw" width="26" height="10" viewBox="0 0 26 10" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <path d="M18.4545 5.66667H1V4.33333H18.4545V1L25 5L18.4545 9V5.66667Z" fill="#EA9309" />
                  <path d="M18.4545 4.33333V1L25 5L18.4545 9V4.33333ZM18.4545 4.33333V5.66667H1V4.33333H18.4545Z"
                    stroke="#EA9309" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <button class="contacts__top js-contact-btn" type="button" data-coordinates="[56.330196, 36.697383]"
                  data-text="ГазЗаЧас - склад" data-bullun="г. Клин Высоковская ул., 26">
                  <div class="contacts__subtitle">
                    г. Клин Высоковская ул., 26
                  </div>
                  <a class="contacts__tel text" href="tel:+79099988020">
                    +7(909) 998-80-20
                  </a>
                </button>
                <div class="contacts__bottom-wrap">
                  <div class="contacts__bottom">

                    <ul class="contacts__list-numbers">
                      <li class="contacts__item-numbers">
                        <a class="contacts__tel text" href="tel:+79160055221">
                          +7 (916) 005-52-21
                        </a>
                      </li>
                      <li class="contacts__item-numbers">
                        <a class="contacts__tel text" href="tel:+79160055221">
                          +7 (916) 005-52-21
                        </a>
                      </li>
                    </ul>
                    <div class="contacts__mail text">
                      <span>Е-mail: </span><a href="mailto:">msk@gazzachas.ru</a>
                    </div>
                    <div class="contacts__discr text">
                      <p>
                        Въезд на территорию склада платный. Пропуск можно заказать на месте
                      </p>
                      <p>
                        Время работы склада: 10:00 - 19:00
                      </p>
                    </div>
                    <a class="contacts__mapping text" target="_blank"
                      href="https://yandex.ru/maps/?rtext=~56.330196, 36.697383">
                      Проложить маршрут
                    </a>
                  </div>
                </div>

              </div>
            </li>
            <li class="contacts__slide-wrap">
              <div class="contacts__slide">
                <svg class="contacts__slide-arw" width="26" height="10" viewBox="0 0 26 10" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <path d="M18.4545 5.66667H1V4.33333H18.4545V1L25 5L18.4545 9V5.66667Z" fill="#EA9309" />
                  <path d="M18.4545 4.33333V1L25 5L18.4545 9V4.33333ZM18.4545 4.33333V5.66667H1V4.33333H18.4545Z"
                    stroke="#EA9309" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <button class="contacts__top js-contact-btn" type="button" data-coordinates="[55.698112, 37.708410]"
                  data-text="ГазЗаЧас - склад" data-bullun="г. Москва 2-й Южнопортовый проезд, 10с19">
                  <div class="contacts__subtitle">
                    г. Москва 2-й Южнопортовый проезд, 10с19
                  </div>
                  <a class="contacts__tel text" href="tel:+79099988020">
                    +7 (916) 005-52-21
                  </a>
                </button>
                <div class="contacts__bottom-wrap">
                  <div class="contacts__bottom">

                    <ul class="contacts__list-numbers">
                      <li class="contacts__item-numbers">
                        <a class="contacts__tel text" href="tel:+79160055221">
                          +7 (916) 005-52-21
                        </a>
                      </li>
                      <li class="contacts__item-numbers">
                        <a class="contacts__tel text" href="tel:+79160055221">
                          +7 (916) 005-52-21
                        </a>
                      </li>
                    </ul>
                    <div class="contacts__mail text">
                      <span>Е-mail: </span><a href="mailto:">msk@gazzachas.ru</a>
                    </div>
                    <div class="contacts__discr text">
                      <p>
                        Въезд на территорию склада платный. Пропуск можно заказать на месте
                      </p>
                      <p>
                        Время работы склада: 10:00 - 19:00
                      </p>
                    </div>

                    <a class="contacts__mapping text" target="_blank"
                      href="https://yandex.ru/maps/?rtext=~55.698112, 37.708410">
                      Проложить маршрут
                    </a>
                  </div>
                </div>

              </div>
            </li>
            <li class="contacts__slide-wrap">
              <div class="contacts__slide">
                <svg class="contacts__slide-arw" width="26" height="10" viewBox="0 0 26 10" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <path d="M18.4545 5.66667H1V4.33333H18.4545V1L25 5L18.4545 9V5.66667Z" fill="#EA9309" />
                  <path d="M18.4545 4.33333V1L25 5L18.4545 9V4.33333ZM18.4545 4.33333V5.66667H1V4.33333H18.4545Z"
                    stroke="#EA9309" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <button class="contacts__top js-contact-btn" type="button" data-coordinates="[55.909665, 37.423249]"
                  data-text="ГазЗаЧас - склад" data-bullun="г. Химки Коммунальный проезд, 12/2">
                  <div class="contacts__subtitle">
                    г. Химки Коммунальный проезд, 12/2
                  </div>
                  <a class="contacts__tel text" href="tel:+79099988020">
                    +7(909) 998-80-20
                  </a>
                </button>
                <div class="contacts__bottom-wrap">
                  <div class="contacts__bottom">

                    <ul class="contacts__list-numbers">
                      <li class="contacts__item-numbers">
                        <a class="contacts__tel text" href="tel:+79160055221">
                          +7 (916) 005-52-21
                        </a>
                      </li>
                      <li class="contacts__item-numbers">
                        <a class="contacts__tel text" href="tel:+79160055221">
                          +7 (916) 005-52-21
                        </a>
                      </li>
                    </ul>
                    <div class="contacts__mail text">
                      <span>Е-mail: </span><a href="mailto:">msk@gazzachas.ru</a>
                    </div>
                    <div class="contacts__discr text">
                      <p>
                        Въезд на территорию склада платный. Пропуск можно заказать на месте
                      </p>
                      <p>
                        Время работы склада: 10:00 - 19:00
                      </p>
                    </div>
                    <a class="contacts__mapping text" target="_blank"
                      href="https://yandex.ru/maps/?rtext=~55.909665, 37.423249">
                      Проложить маршрут
                    </a>
                  </div>
                </div>

              </div>
            </li>
            <li class="contacts__slide-wrap">
              <div class="contacts__slide">
                <svg class="contacts__slide-arw" width="26" height="10" viewBox="0 0 26 10" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <path d="M18.4545 5.66667H1V4.33333H18.4545V1L25 5L18.4545 9V5.66667Z" fill="#EA9309" />
                  <path d="M18.4545 4.33333V1L25 5L18.4545 9V4.33333ZM18.4545 4.33333V5.66667H1V4.33333H18.4545Z"
                    stroke="#EA9309" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <button class="contacts__top js-contact-btn" type="button" data-coordinates="[56.330196, 36.697383]"
                  data-text="ГазЗаЧас - склад" data-bullun="г. Клин Высоковская ул., 26">
                  <div class="contacts__subtitle">
                    г. Клин Высоковская ул., 26
                  </div>
                  <a class="contacts__tel text" href="tel:+79099988020">
                    +7(909) 998-80-20
                  </a>
                </button>
                <div class="contacts__bottom-wrap">
                  <div class="contacts__bottom">

                    <ul class="contacts__list-numbers">
                      <li class="contacts__item-numbers">
                        <a class="contacts__tel text" href="tel:+79160055221">
                          +7 (916) 005-52-21
                        </a>
                      </li>
                      <li class="contacts__item-numbers">
                        <a class="contacts__tel text" href="tel:+79160055221">
                          +7 (916) 005-52-21
                        </a>
                      </li>
                    </ul>
                    <div class="contacts__mail text">
                      <span>Е-mail: </span><a href="mailto:">msk@gazzachas.ru</a>
                    </div>
                    <div class="contacts__discr text">
                      <p>
                        Въезд на территорию склада платный. Пропуск можно заказать на месте
                      </p>
                      <p>
                        Время работы склада: 10:00 - 19:00
                      </p>
                    </div>
                    <a class="contacts__mapping text" target="_blank"
                      href="https://yandex.ru/maps/?rtext=~56.330196, 36.697383">
                      Проложить маршрут
                    </a>
                  </div>
                </div>

              </div>
            </li>
          </ul>

        </div>
      </div>

      <div class="contacts__right">
        <div class="contacts__map">
          <div class="contacts__map-map" id="map"></div>
        </div>
        <img class="contacts__right-img" src="images/contacts/1.png" alt="contact" width="179" height="225">
      </div>
    </div>
  </div>
</section>