<footer class="footer">

  <div class="footer__top">
    <div class="container">
      <div class="footer__inner">
        <div class="footer__inner-wrap">
          <div class="footer__main">
            <a class="footer__logo logo" href="#">
              <img class="logo__img" src="images/logo.svg" alt="logo" width="189" height="85">
            </a>
            <p class="footer__about">
              <span>Прием онлайн-заказов </span>
              <span> с 8.00 до 19.00 без выходных</span>
            </p>
            <ul class="footer__yandex">
              <li class="footer__yandex-item">
                <a class="footer__yandex-link" href="#">
                  <img class="footer__yandex-img" src="images/yandex/1.svg" alt="yandex" width="87" height="35">
                </a>
              </li>
              <li class="footer__yandex-item">
                <a class="footer__yandex-link" href="#">
                  <img class="footer__yandex-img" src="images/yandex/2.svg" alt="yandex" width="98" height="28">
                </a>
              </li>
            </ul>
          </div>

          <div class="footer__info">

            <div class="footer__info-item phone-block">
              <a class="phone-block__link" href="tel:84956605468">
                <img class="phone-block__icon" src="images/icon/phone.svg" alt="phone" width="20" height="20">
                <span class="phone-block__link-text text">
                  8 495 660-54-68
                </span>
              </a>

              <a class="phone-block__text-popup popup--link" href="#popup">
                Заказать звонок
              </a>

            </div>

            <div class="footer__info-item phone-block">
              <a class="phone-block__link" href="tel:89161208020">
                <img class="phone-block__icon" src="images/icon/phone.svg" alt="phone" width="20" height="20">
                <span class="phone-block__link-text text">
                  8 916 120-80-20
                </span>
              </a>

              <ul class="phone-block__list">
                <li class="phone-block__item">
                  <a class="phone-block__social-link" href="#">
                    <img class="phone-block__social-img" src="images/social/Whatsapp.svg" alt="Whatsapp.svg" width="20"
                      height="20">
                    <span class="phone-block__social-text">
                      WhatsApp
                    </span>
                  </a>
                </li>
                <li class="phone-block__item">
                  <a class="phone-block__social-link" href="#">
                    <img class="phone-block__social-img" src="images/social/telegram.svg" alt="telegram.svg" width="20"
                      height="20">
                    <span class="phone-block__social-text">
                      Telegram
                    </span>
                  </a>
                </li>
              </ul>

            </div>

            <div class="footer__info-item phone-block">
              <a class="phone-block__link" href="mailto:84956605468">
                <img class="phone-block__icon" src="images/icon/email.svg" alt="phone" width="20" height="20">
                <span class="phone-block__link-text text">
                  info@gazzachas.ru
                </span>
              </a>

              <a class="phone-block__text-popup" href="#">
                Написать нам
              </a>

            </div>


          </div>
        </div>

        <div class="footer__nav">

          <ul class="footer__list">
            <li class="footer__item">
              <a class="footer__link" href="#">
                Технические газы
              </a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">
                Аргон
              </a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">
                Азот
              </a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">
                Кислород
              </a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">
                Пропан
              </a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">
                Углекислота
              </a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">
                Сварочная смесь
              </a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">
                Ацетилен
              </a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">
                Жидкий аргон
              </a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">
                Жидкий азот
              </a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">
                Жидкий кислород
              </a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">
                Жидкая углекислота
              </a>
            </li>
          </ul>

          <div class="footer__wrap-list">
            <ul class="footer__list">
              <li class="footer__item">
                <a class="footer__link" href="#">
                  Газовое оборудование
                </a>
              </li>
              <li class="footer__item">
                <a class="footer__link" href="#">
                  Газовые баллоны
                </a>
              </li>
              <li class="footer__item">
                <a class="footer__link" href="#">
                  Криогенные емкости
                </a>
              </li>
              <li class="footer__item">
                <a class="footer__link" href="#">
                  Всё для сварки
                </a>
              </li>
              <li class="footer__item">
                <a class="footer__link" href="#">
                  Автономная газификация
                </a>
              </li>
              <li class="footer__item">
                <a class="footer__link" href="#">
                  Обмен баллонов
                </a>
              </li>

            </ul>
            <ul class="footer__list">
              <li class="footer__item">
                <a class="footer__link" href="#">
                  Покупателям
                </a>
              </li>
              <li class="footer__item">
                <a class="footer__link" href="#">
                  О компании
                </a>
              </li>
              <li class="footer__item">
                <a class="footer__link" href="#">
                  Услуги
                </a>
              </li>
              <li class="footer__item">
                <a class="footer__link" href="#">
                  Доставка
                </a>
              </li>
              <li class="footer__item">
                <a class="footer__link" href="#">
                  Оплата
                </a>
              </li>
              <li class="footer__item">
                <a class="footer__link" href="#">
                  Гарантия и возврат
                </a>
              </li>
              <li class="footer__item">
                <a class="footer__link" href="#">
                  Вопросы и ответы
                </a>
              </li>
              <li class="footer__item">
                <a class="footer__link" href="#">
                  Отзывы
                </a>
              </li>
              <li class="footer__item">
                <a class="footer__link" href="#">
                  Вакансии
                </a>
              </li>
              <li class="footer__item">
                <a class="footer__link" href="#">
                  Контакты
                </a>
              </li>

            </ul>
          </div>

        </div>

      </div>
    </div>
  </div>

  <div class="footer__copyright">
    <div class="container">
      <div class="footer__copyright-text">
        © Все права защищены
      </div>
    </div>
  </div>

</footer>