<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="robots" content="noindex">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gaz</title>
  <link rel="stylesheet" href="libs/swiper-bundle.min.css">
  <link rel="stylesheet" href="libs/select2.min.css">
  <link rel="stylesheet" href="libs/slinky.min.css">
  <link rel="stylesheet" href="css/style.min.css">
  <script src="https://api-maps.yandex.ru/2.1/?apikey=9f98fc9d-2086-4987-b97c-2b62f03b37c9&lang=ru_RU" type="text/javascript">
  </script>
</head>

<body class="body" id="body">