<header class="header-fix _close" id="header-fix">

  <div class="container">
    <div class="header-fix__inner">
      <div class="header-fix__left">

        <div class="header-fix__item phone-block">
          <a class="phone-block__link" href="tel:84956605468">
            <img class="phone-block__icon" src="images/icon/phone.svg" alt="phone" width="20" height="20">
            <span class="phone-block__link-text text">
              8 495 660-54-68
            </span>
          </a>

          <a class="phone-block__text-popup popup--link" href="#popup">
            Заказать звонок
          </a>

        </div>

        <div class="header-fix__item phone-block _ds">
          <a class="phone-block__link" href="tel:89161208020">
            <img class="phone-block__icon" src="images/icon/phone.svg" alt="phone" width="20" height="20">
            <span class="phone-block__link-text text">
              8 916 120-80-20
            </span>
          </a>

          <ul class="phone-block__list ">
            <li class="phone-block__item">
              <a class="phone-block__social-link" href="#">
                <img class="phone-block__social-img" src="images/social/Whatsapp.svg" alt="Whatsapp.svg" width="20"
                  height="20">
              </a>
            </li>
            <li class="phone-block__item">
              <a class="phone-block__social-link" href="#">
                <img class="phone-block__social-img" src="images/social/telegram.svg" alt="telegram.svg" width="20"
                  height="20">
              </a>
            </li>
          </ul>

        </div>

        <div class="header-fix__item phone-block _mob">
          <a class="phone-block__link" href="mailto:info@gazzachas.ru">
            <img class="phone-block__icon" src="images/icon/email.svg" alt="phone" width="20" height="20">
            <span class="phone-block__link-text text">
              info@gazzachas.ru
            </span>
          </a>
        </div>

        <div class="header-fix__item phone-block _ds phone-block_in-drop">
          <button class="phone-block__btn js-open-fix-about-email" type="button">
            <img class="phone-block__icon" src="images/icon/email.svg" alt="email.svg" width="20" height="20">
            <span class="phone-block__link-text">
              info@gazzachas.ru
            </span>
          </button>

          <a class="phone-block__text-popup popup--link" href="#cons">
            Написать нам
          </a>

          <div class="phone-block__dropdown phone-block-dropdown-fix">
            <ul class="phone-block__dropdown-list">
              <li class="phone-block__dropdown-item text">
                <span>Для просчета стоимости заказа по email напишите нам на</span>
                <a href="mailto:info@gazzachas.ru">
                  info@gazzachas.ru
                </a>
              </li>
              <li class="phone-block__dropdown-item text">
                <span>Ваше коммерческое предложение присылайте нам на</span>
                <a href="mailto:com@gazzachas.ru">
                  com@gazzachas.ru
                </a>
              </li>
              <li class="phone-block__dropdown-item text">
                <span>Решение спорных вопросов напрямую с директором </span>
                <a href="mailto:dir@gazzachas.ru">
                  dir@gazzachas.ru
                </a>
              </li>
            </ul>
            <div class="phone-block__dropdown-bottom">
              <span class="text">Прием онлайн-заказов с 8.00 до 19.00 без выходных</span>
            </div>
          </div>

        </div>

      </div>
      <div class="header-fix__right">
        <ul class="phone-block__list _mob">
          <li class="phone-block__item">
            <a class="phone-block__social-link" href="#">
              <img class="phone-block__social-img" src="images/social/Whatsapp.svg" alt="Whatsapp.svg" width="20"
                height="20">
            </a>
          </li>
          <li class="phone-block__item">
            <a class="phone-block__social-link" href="#">
              <img class="phone-block__social-img" src="images/social/telegram.svg" alt="telegram.svg" width="20"
                height="20">
            </a>
          </li>
        </ul>
        <ul class="header-top__right">
          <li class="header-top__right-item">
            <a class="header-top__right-link" href="#">
              Доставка
            </a>
          </li>
          <li class="header-top__right-item">
            <a class="header-top__right-link" href="#">
              Контакты
            </a>
          </li>
        </ul>

      </div>

    </div>
  </div>

</header>