<div class="order-payment _2">
  <div class="order-payment__decor _1">

  </div>
  <div class="order-payment__decor _2">

  </div>
  <div class="container">
    <div class="order-payment__inner">
      <div class="order-payment__text revealator-fade">
        Следите за нами в телеграм:
      </div>
      <div class="order-payment__btns revealator-fade">
        <a class="order-payment__btn btn btn_3 button popup--link" href="#">
          Наш канал
        </a>
        <a class="order-payment__btn btn btn_3 button popup--link" href="#">
          Бот-помощник
        </a>
      </div>

    </div>
  </div>
</div>