<div class="order-payment">
  <div class="order-payment__decor _1 ">
    <img class="order-payment__decor-img revealator-slideright" src="images/decor/auto.png" alt="">
  </div>
  <div class="order-payment__decor _2 ">
    <img class="order-payment__decor-img revealator-slideright" src="images/decor/auto.png" alt="">
  </div>
  <div class="container">
    <div class="order-payment__inner">
      <div class="order-payment__text">
        Рассчитаем заказ и выставим счёт за 15 минут
      </div>
      <a class="order-payment__btn btn button popup--link" href="#calculation">
        Заказать рассчёт
      </a>
    </div>
  </div>
</div>