<div id="popup" class="popup">
  <div class="popup__body">
    <div class="popup__content feedback__content">
      <a href="#" class="popup__close popup--close">
        <svg class="popup__close-img" width="12" height="12" viewBox="0 0 12 12" fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <path d="M11 1L1 11" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
          <path d="M11 11L1 1" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
      </a>

      <div class="popup__inner">
        <div class="popup__title">
          Выберите удобный для Вас способ оценки товара:
        </div>

      </div>
    </div>
  </div>
</div>