<div id="vacancy" class="popup">
  <div class="popup__body">
    <div class="popup__content feedback__content">
      <a href="#" class="popup__close popup--close">
        <svg class="popup__close-img" width="18" height="18" viewBox="0 0 18 18" fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <path d="M1 1L9 9M17 17L9 9M9 9L17 1L1 17" stroke="#EA9309" stroke-linecap="round" stroke-linejoin="round" />
        </svg>

      </a>

      <form class="popup__inner">
        <div class="popup__title">
          Отправить резюме
        </div>
        <div class="popup__text">
          Отправьте нам своё резюме, мы рассмотрим его в кратчайшие сроки и свяжемся с Вами
        </div>

        <div class="popup__input-inner">
          <div class="popup__input input">
            <label class="input__label text" for="hh1">
              Имя
            </label>
            <div class="input__wrap-input">
              <input class="input__input" type="text" id="hh1" placeholder="Ваше имя">
            </div>
          </div>
          <div class="popup__input input">
            <label class="input__label text" for="cc2">
              Телефон
            </label>
            <div class="input__wrap-input">
              <input class="input__input" type="tel" id="cc2" placeholder="+7 (999) 999-99-99">
            </div>
          </div>
          <div class="popup__input input">
            <label class="input__label text" for="ccc3">
              E-mail
            </label>
            <div class="input__wrap-input">
              <input class="input__input" type="email" id="ccc3" placeholder="Ваш e-mail">
            </div>
          </div>
          <div class="popup__input input">
            <div class="input__label text" for="ccc44">
              Прикрепить резюме
            </div>
            <div class="input__wrap-input">
              <label class="input__doc" for="ccc44">
                Прикрепить файл
              </label>
              <input class="input__input _file" type="file" id="ccc44" placeholder="Ваш e-mail">
            </div>
          </div>
          <div class="popup__input input">
            <label class="input__label text" for="mm4">
              Комментарий
            </label>
            <div class="input__wrap-input">
              <textarea class="input__input input__input_textarea" id="mm4"></textarea>
            </div>
          </div>
        </div>
        <div class="popup__check">
          <input class="popup__check-input" type="checkbox" id="check-2">
          <label class="popup__check-label" for="check-2">
            <span>Заполняя форму, вы даете согласие на обработку персональных данных</span>
          </label>
        </div>
        <button class="popup__btn text button" type="submit">
          Отправить
        </button>

      </form>
    </div>
  </div>
</div>