<section class="prcatalog">

  <div class="prcatalog__inner">
    <div class="prcatalog__title revealator-zoomout">
      Более 500 предприятиям ежемесячно поставляем технический газ и баллоны
    </div>
    <div class="prcatalog__content">
      <div class="prcatalog__text revealator-zoomout">
        Принимаем заказы от юридических и физических лиц
      </div>
      <a class="prcatalog__btn btn button revealator-zoomout" href="#">
        Каталог газов
      </a>
    </div>
  </div>

</section>