<section class="recommendation">
  <div class="container">
    <div class="recommendation__title title">
      Рекомендуем ознакомиться
    </div>
    <div class="recommendation__slider swiper js-recommendation-slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide recommendation__slide-wrap revealator-slideright revealator-delay1">
          <div class="recommendation__slide">
            <a class="recommendation__link" href="#">
              <svg width="17" height="21" viewBox="0 0 17 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M0.0450959 13.3333C0.538182 17.6667 2.46453 19.4236 6.01143 21C4.44809 18.6667 4.63802 16.6667 4.77956 16C4.92109 15.3333 5.77395 12.6667 8.66313 11.6667C11.9778 13.3333 12.4032 16 12.4032 16C12.4032 16 13.2561 18 10.9834 21C14.8775 19.2913 16.3343 17.3333 16.9497 13.3333C17.5651 9.33333 12.4032 3 8.61557 0C4.40054 3.66667 -0.52385 8.33333 0.0450959 13.3333Z"
                  fill="url(#paint0_linear_394_19398)" />
                <defs>
                  <linearGradient id="paint0_linear_394_19398" x1="8.49733" y1="0" x2="8.49733" y2="21"
                    gradientUnits="userSpaceOnUse">
                    <stop stop-color="#F5EA16" />
                    <stop offset="1" stop-color="#EDAA0B" />
                  </linearGradient>
                </defs>
              </svg>
              <span>Подробнее</span>
            </a>
            <div class="recommendation__content">
              <div class="recommendation__subtitle">
                Баллоны высокго давления
              </div>
              <div class="recommendation__text">
                Облегченные импортные баллоны от 150 до 200 атм. В 2 раза больше газа в 1 баллоне
              </div>
            </div>
            <div class="recommendation__img-wrap">
              <img class="recommendation__img" src="images/recommendation/1.png" alt="recommendation" width="106"
                height="271">
            </div>
          </div>
        </div>
        <div class="swiper-slide recommendation__slide-wrap revealator-sliderleft revealator-delay1">
          <div class="recommendation__slide ">
            <a class="recommendation__link" href="#">
              <svg width="17" height="21" viewBox="0 0 17 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M0.0450959 13.3333C0.538182 17.6667 2.46453 19.4236 6.01143 21C4.44809 18.6667 4.63802 16.6667 4.77956 16C4.92109 15.3333 5.77395 12.6667 8.66313 11.6667C11.9778 13.3333 12.4032 16 12.4032 16C12.4032 16 13.2561 18 10.9834 21C14.8775 19.2913 16.3343 17.3333 16.9497 13.3333C17.5651 9.33333 12.4032 3 8.61557 0C4.40054 3.66667 -0.52385 8.33333 0.0450959 13.3333Z"
                  fill="url(#paint0_linear_3394_19398)" />
                <defs>
                  <linearGradient id="paint0_linear_3394_19398" x1="8.49733" y1="0" x2="8.49733" y2="21"
                    gradientUnits="userSpaceOnUse">
                    <stop stop-color="#F5EA16" />
                    <stop offset="1" stop-color="#EDAA0B" />
                  </linearGradient>
                </defs>
              </svg>
              <span>Подробнее</span>
            </a>
            <div class="recommendation__content">
              <div class="recommendation__subtitle">
                Газификаторы 200 л
              </div>
              <div class="recommendation__text">
                Криогенный холодный газификатор 200л заменяет до 27 баллонов по 40 литров
              </div>
            </div>
            <div class="recommendation__img-wrap">
              <img class="recommendation__img" src="images/recommendation/2.png" alt="recommendation" width="127"
                height="298">
            </div>
          </div>
        </div>
      </div>
      <div class="recommendation__arrow slider-arrow recommendation__arrow_prev">
        <svg class="recommendation__arrow-icon" width="8" height="15" viewBox="0 0 8 15" fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <path d="M7 1L1 7.74074L7 14" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
      </div>
      <div class="recommendation__arrow recommendation__arrow_next slider-arrow slider-arrow_next">
        <svg class="recommendation__arrow-icon" width="8" height="15" viewBox="0 0 8 15" fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <path d="M7 1L1 7.74074L7 14" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
      </div>
    </div>
  </div>
</section>