<script>
  window.addEventListener('load', function () {
    let myMap;
    ymaps.ready(function () {
      myMap = new ymaps.Map("map", {
        center: [55.698112, 37.708410],
        zoom: 10
      });
      let createMark = (coordinates, iconCaption, balloonContent) => {
        myMap.geoObjects.add(new ymaps.Placemark(coordinates, {
          iconCaption: iconCaption,
          balloonContent: balloonContent
        }, {
          preset: 'islands#yellowFuelStationIcon'
        }))
      }

      let zoomMark = (coordinates) => {
        myMap.setCenter(coordinates, 14, {
          checkZoomRange: true
        });
      }

      $('.js-contact-btn').each((i, e) => {
        const stringOfCoordinates = $(e).attr('data-coordinates')
        const iconCaption = $(e).attr('data-text')
        const balloonContent = $(e).attr('data-bullun')
        const coordinates = JSON.parse(stringOfCoordinates);
        createMark(coordinates, iconCaption, balloonContent)
      })
      //spoiler-contact
      $(document).on('click', '.js-contact-btn', function (e) {
        e.preventDefault()

        if ($(this).hasClass('_active')) {
          $(this).removeClass("_active")
          $(this).parents('.contacts__slide').toggleClass("_active").find('.contacts__bottom-wrap').slideToggle();
          const coordinates = JSON.parse($(this).attr('data-coordinates'))
          zoomMark(coordinates)

        } else {
          $('.js-contact-btn').removeClass('_active')
          $(this).addClass("_active")
          $('.js-contact-btn').parents('.contacts__slide').removeClass("_active").find('.contacts__bottom-wrap').slideUp();
          $(this).parents('.contacts__slide').addClass("_active").find('.contacts__bottom-wrap').slideDown();
          const coordinates = JSON.parse($(this).attr('data-coordinates'))
          zoomMark(coordinates)
        }
      })
      let start = () => {
        let startItem = $('._start')
        startItem.addClass("_active")
        $('.js-contact-btn').parents('.contacts__slide').removeClass("_active").find('.contacts__bottom-wrap').slideUp();
        startItem.parents('.contacts__slide').addClass("_active").find('.contacts__bottom-wrap').slideDown();
        const coordinates = JSON.parse(startItem.attr('data-coordinates'))
        zoomMark(coordinates)
      }
      start()

      //spoiler-contact

      //contact-list

      const contactListWrap = $('.contacts__list-wrap')
      const contactList = $('.contacts__list')
      let scrollPos = contactList.position().top;
      contactListWrap.on("scroll", function () {
        scrollPos = contactList.position().top;
      });

      $(document).on('click', '.contacts__arrow_prev', function (e) {
        scrollPos = contactList.position().top;
        scrollPos = scrollPos + 100
        contactListWrap.animate({
          scrollTop: ((-1) * scrollPos)
        });
      })
      $(document).on('click', '.contacts__arrow_next', function (e) {
        scrollPos = contactList.position().top;
        scrollPos = scrollPos - 100
        contactListWrap.animate({
          scrollTop: ((-1) * scrollPos)
        });
      })
      //contact-list

    })



  })
</script>