<div class="search" id="search-block">

  <div class="search__wrap">
    <div class="search__inner">
      <button class="search__close js-search-toggle" type="button">
        <img class="search__close-icon" src="images/icon/close-red.svg" alt="close-red" width="16" height="16">
      </button>
      <div class="search__input-block">
        <form class="search__input-wrap">
          <input class="search__input" type="text" placeholder="Быстрый поиск">
          <button class="search__btn ">
            <img class="search__btn-icon" src="images/icon/search-white.svg" alt="search-white.svg" width="20"
              height="20">
          </button>
        </form>
        <span class="search__input-text">
          Введите запрос в поиск или воспользуйтесь готовыми подсказками
        </span>
      </div>
      <ul class="search__hints">
        <li class="search__hints-item">
          <a class="search__hints-link" href="#">
            Газообразный пропан
          </a>
        </li>
        <li class="search__hints-item">
          <a class="search__hints-link" href="#">
            Пропан в баллонах
          </a>
        </li>
        <li class="search__hints-item">
          <a class="search__hints-link" href="#">
            Пропан технический
          </a>
        </li>
        <li class="search__hints-item">
          <a class="search__hints-link" href="#">
            Пропан заправка тары
          </a>
        </li>
        <li class="search__hints-item">
          <a class="search__hints-link" href="#">
            Пропан для сварки
          </a>
        </li>
      </ul>
    </div>
  </div>


</div>