.promo-slider {
  position: relative;
  overflow: hidden;

  &__slide-wrap {
    position: relative;
    box-sizing: border-box;
    min-height: 490px;
    padding: 90px 0;
    color: $white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    height: auto;
    align-items: stretch;
    overflow: hidden;

    @include adpt ($bmob-r) {
      padding: 90px 0 100px;
    }
  }


  &__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-position: center;
    z-index: 1;
    transition: all 0.3s;
    animation: zoom 12s infinite;

    &:nth-child(even) {
      animation-delay: 3s;
    }

  }

  &__slide {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: auto;
    width: 100%;
    position: relative;
    z-index: 2;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding-right: 150px;

    @include adpt ($big-r) {
      padding-right: 0;
    }
  }

  &__content-top {
    margin-bottom: 30px;
  }

  &__category {
    display: block;
    margin-bottom: 20px;
  }

  &__text {
    font-size: 16px;
    line-height: 1.25;
    margin-bottom: 41px;
    max-width: 580px;

    @include adpt ($bmob-r) {
      font-size: 14px;
      margin-bottom: 50px;
    }
  }

  &__btns {
    display: grid;
    width: fit-content;
    grid-auto-flow: column;
    grid-gap: 30px;

    @include adpt ($bmob-r) {
      grid-template-columns: 1fr 1fr;
      grid-auto-flow: row;
      width: 100%;
      grid-gap: 10px;
    }
  }

  &__btn {
    min-width: 170px;

    @include adpt ($bmob-r) {
      min-width: initial;
    }
  }

  &__option {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 95px;
    right: calc((100% - 1320px) / 2);
    z-index: 8;

    @include adpt ($big-r) {
      right: 20px;
      bottom: 40px;
    }

    @include adpt ($bmob-r) {
      bottom: 30px;
    }
  }

  &__arrow-wrap {
    display: flex;
    align-items: center;
  }

  &__arrow {
    cursor: pointer;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $white;
    border: 1px solid $white;
    border-radius: 3px;
    transition: border-color 0.3s, background-color 0.3s;

    &:not(:last-child) {
      margin-right: 10px;
    }

    &:hover {
      border-color: $red;
    }

    &:active {
      background-color: $red;
      border-color: $red;

      & svg path {
        stroke: $white;
      }
    }

    &_next {
      transform: rotate(180deg);
    }
  }

  &__arrow-icon {
    width: 8px;
    height: 14px;
    object-fit: contain;

    & path {
      transition: stroke 0.3s;
    }
  }

  &__pagination {
    display: flex;
    align-items: center;
    margin-right: 29px;

    & span {
      display: block;
      background: $white;
      width: 10px;
      height: 10px;
      opacity: 1;
      margin: 0 !important;
      border: 1px solid $white;
      transition: all 0.3s;

      &:hover {
        border-color: $red;
      }

      &.swiper-pagination-bullet-active {
        background: $red;
        border-color: $red;
      }

      &:not(:last-child) {
        margin: 0 13px 0 0 !important;
      }
    }
  }
}

@keyframes zoom {
  50% {
    transform: scale(1.14);
  }
}