.recommendation {
  padding: 65px 0 40px;

  @include adpt ($bmob-r) {
    padding: 55px 0 60px;
  }

  &_sidebar {
    padding: 0;

    & .recommendation__slide {
      padding: 30px 25px 50px;
      flex-direction: column;
    }

    & .recommendation__content {
      padding-top: 0;
      flex: 1;
      max-width: 100%;
      margin-right: 0;
      margin-bottom: 10px;
    }

    & .recommendation__subtitle {
      font-size: 18px;
      line-height: 1.5;
      font-family: $secondFont;
      font-weight: 500;
      letter-spacing: -1.2px;
    }

    & .recommendation__link {
      left: 50%;
      transform: translateX(-50%);
      bottom: 20px;
    }

    & .recommendation__img-wrap {
      max-width: 100%;
      width: 100%;
    }
  }

  &__title {
    margin-bottom: 20px;

    @include adpt ($bmob-r) {
      margin-bottom: 30px;
    }
  }

  &__slider {
    padding: 10px;
    margin: -10px;

    @include adpt ($stab-r) {
      margin: -10px 0;
      padding: 10px 15px;
    }

  }

  &__slide-wrap {
    height: auto;
    box-sizing: border-box;
  }

  &__slide {
    position: relative;
    border-radius: 6px;
    background-color: $lightGrey;
    padding: 45px 30px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: box-shadow 0.3s;

    @include adpt ($tab-r) {
      padding: 30px 25px 50px;
    }

    @include adpt ($bmob-r) {
      flex-direction: column;
    }


    &:hover {
      box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.21);
    }

  }

  &__subtitle {
    font-style: $secondFont;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.25;
    margin-bottom: 10px;
    color: $headers;

    @include adpt ($bmob-r) {
      font-size: 18px;
      line-height: 1.5;
      letter-spacing: -1.2px;
    }
  }

  &__content {
    // padding-top: 55px;

    @include adpt ($tab-r) {
      // padding-top: 30px;
      max-width: 300px;
      margin-right: 10px;
      flex: 1;
    }

    @include adpt ($bmob-r) {
      max-width: 100%;
      margin-right: 0;
      margin-bottom: 10px;
    }
  }

  &__text {
    opacity: 0.8;
    max-width: 317px;
  }

  &__link {
    position: absolute;
    bottom: 30px;
    left: 30px;
    padding-left: 29px;
    color: $yellow;

    @include adpt ($tab-r) {
      left: 25px;
    }

    @include adpt ($bmob-r) {
      bottom: 20px;
    }

    &:hover {
      color: $red;

      & svg path {
        fill: $red;
      }
    }

    & svg path {
      transition: all 0.3s;
    }

    & svg {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 17px;
      height: 21px;
    }
  }

  &__img-wrap {
    flex: 1;
    max-width: 130px;
    display: flex;
    justify-content: center;

    @include adpt ($tab-r) {
      max-width: 100px;
    }

    @include adpt ($bmob-r) {
      width: 100%;
    }
  }

  &__img {
    object-fit: contain;

    @include adpt ($bmob-r) {
      max-height: 260px;
    }
  }

  &__arrow {
    position: absolute;
    top: 50%;
    z-index: 10;
    left: 0;
    transform: translateY(-50%);

    &_next {
      left: auto;
      right: 0;
      transform: translateY(-50%) scale(-1);
    }
  }
}