._city-select {
  padding-top: 20px;

  @include adpt ($bmob-r) {
    width: calc(100% - 32px) !important;
    left: auto !important;
    right: 14px;
    padding-top: 4px;
  }

  .select2-dropdown {
    border-radius: 0px 0px 10px 10px;
    background: #383838;
    padding: 0 15px 25px;
    border: none;

    @include adpt ($desmr-r) {
      padding: 0 10px 20px;
    }

    @include adpt ($bmob-r) {
      width: 100% !important;
      padding: 10px 10px 15px;
      border-radius: 0 0 4px 4px;
    }
  }

  & .select2-search--dropdown {
    position: relative;
    padding: 0 10px;
    padding-bottom: 15px;

    &::after {
      position: absolute;
      content: "";
      width: 15px;
      height: 15px;
      top: 7px;
      right: 21px;
      background-repeat: no-repeat;
      background-size: contain;
      background-image: url('../images/icon/search.svg');
    }
  }

  &.select2-container--default .select2-search--dropdown .select2-search__field {
    outline: none;
    border-radius: 3px;
    border: 1px solid $yellow;
    padding: 4px 15px;
    padding-right: 30px;
    max-width: 100%;
    font-size: 16px;
    line-height: 1;
    color: $white;

    @include adpt ($bmob-r) {
      padding: 4px 10px;
      padding-right: 30px;
    }

    &::placeholder {
      opacity: 0.5;
    }
  }

  &.select2-container--default .select2-results>.select2-results__options {
    padding-left: 10px;
    max-height: 187px;
    direction: rtl;

    &>* {
      text-align: left;
      direction: ltr;
    }

    &::-webkit-scrollbar {
      width: 3px;
    }
  }

  &.select2-container--default .select2-results__option--selected {
    background-color: transparent;
    color: $yellow;
    position: relative;
    padding-right: 10px;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 0;
      width: 11px;
      height: 8px;
      background-image: url('../images/icon/check.svg');
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  &.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: transparent;
    color: $yellow;

  }

  .select2-results__option {
    font-size: 16px;
    line-height: 1.25;
    color: $white;
    padding: 0 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }
}