.slider-arrow {
  width: 30px;
  height: 30px;
  border-radius: 3px;
  background-color: $red;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;

  &.swiper-button-lock {
    display: none;
  }

  &_next {
    transform: scale(-1);
  }
}